{{ template "base" . }}

{{ define "title" }}Home{{ end }}

{{ define "body" }}
<section>
    Body

    <div
    x-data="{ 
        message: 'I ❤️ Alpine' 
    }">
        <div x-text="message" @click="message += ', because it rocks'"></div>
    </div>
</section>

{{ end }}

