{{ define "header" }}
<nav class="flex flex-row w-full h-16 border-b">
    <ul class="flex flex-row">
        <a href="/" class="flex items-center p-4 hover:bg-slate-200"><li>Home</li></a>
        <a href="/dashboard" class="flex items-center p-4 hover:bg-slate-200"><li>Dashboard</li></a>
        {{ template "navlink" "Test" }}
    </ul>
</nav>
{{ end }}

{{ define "navlink" }}
{{ . }}
{{ end }}
